@import '~bootstrap/scss/bootstrap';

[role=button]{
  cursor: pointer;
}

@include media-breakpoint-down(sm) {
  html {
    font-size: 14px;
  }
}

/* Fade Transition */
.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 350ms ease-in;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: all 350ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: all 350ms ease-in;
}
